In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import warnings

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

def load_dataset(path):
    df = pd.read_csv(path)
    return df

df = load_dataset('C:/Users/User/Downloads/hotel_bookings_data.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2017,September,27,1,0,0,2,0.0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,3,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
1,Resort Hotel,0,737,2017,September,27,1,0,0,2,0.0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,4,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
2,Resort Hotel,0,7,2017,September,27,1,0,1,1,0.0,0,Breakfast,Kabupaten Bangka,Direct,Direct,0,0,0,0,No Deposit,NaN,NaN,0,Personal,75.0,0,0,Check-Out
3,Resort Hotel,0,13,2017,September,27,1,0,1,1,0.0,0,Breakfast,Kabupaten Bangka,Corporate,Corporate,0,0,0,0,No Deposit,304.0,NaN,0,Personal,75.0,0,0,Check-Out
4,Resort Hotel,0,14,2017,September,27,1,0,2,2,0.0,0,Breakfast,Kabupaten Bangka,Online TA,TA/TO,0,0,0,0,No Deposit,240.0,NaN,0,Personal,98.0,0,1,Check-Out

# Data Preprocessing

In [25]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_year,119390.0,2018.156554,0.707476,2017.00,2018.00,2018.000,2019.0,2019.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,119390.0,15.798241,8.780829,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_weekdays_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_weekdays_nights        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  city                            118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           103050 non-null  float64
 22  company                         6797 non-null    float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
dtypes: float64(4), int64(16), object(9)
memory usage: 26.4+ MB

## **Handling Missing Values**

In [27]:
# total null values
total_null = pd.DataFrame(df.isna().sum()).T.rename({0:'total_null'})

# percentage null values
null_percentage = pd.DataFrame(100*df.isna().sum()/df.shape[0]).T.rename({0:'null_percentage'})

# combine the columns
data_null = pd.concat([total_null, null_percentage]).T

# only show columns that have missing values
mask = data_null['total_null'] != 0
data_null.loc[mask].sort_values('total_null', ascending=False).style.format({'total_null':'{:.0f}', 'null_percentage':'{:.3f}'})

In [28]:
df['company'].fillna(0, inplace=True)
df['agent'].fillna(0, inplace=True)
df['city'].fillna('unknown', inplace=True)
df['children'].fillna(df['children'].median(), inplace=True)

## **Correcting Unsuitable Values**

In [29]:
df['meal'].value_counts()

Breakfast     92310
Dinner        14463
No Meal       10650
Undefined      1169
Full Board      798
Name: meal, dtype: int64

In [30]:
df['meal'] = df['meal'].replace({'Undefined':'No Meal'})

In [31]:
df['meal'].value_counts()

Breakfast     92310
Dinner        14463
No Meal       11819
Full Board      798
Name: meal, dtype: int64

In [32]:
for col in ['children', 'agent', 'company']:
    df[col] = df[col].astype(int)

## **Handle Duplicated Data**

In [33]:
df.duplicated().sum()

33261

In [34]:
df[df.duplicated(keep=False)].reset_index(drop=True).head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,14,2017,September,27,1,0,2,2,0,0,Breakfast,Kabupaten Bangka,Online TA,TA/TO,0,0,0,0,No Deposit,240,0,0,Personal,98.00,0,1,Check-Out
1,Resort Hotel,0,14,2017,September,27,1,0,2,2,0,0,Breakfast,Kabupaten Bangka,Online TA,TA/TO,0,0,0,0,No Deposit,240,0,0,Personal,98.00,0,1,Check-Out
2,Resort Hotel,0,72,2017,September,27,1,2,4,2,0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,1,No Deposit,250,0,0,Personal,84.67,0,1,Check-Out
3,Resort Hotel,0,72,2017,September,27,1,2,4,2,0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,1,No Deposit,250,0,0,Personal,84.67,0,1,Check-Out
4,Resort Hotel,0,70,2017,September,27,2,2,3,2,0,0,Dinner,Kabupaten Tangerang,Direct,Direct,0,0,0,0,No Deposit,250,0,0,Personal,137.00,0,1,Check-Out

In [35]:
print(f"Total number of rows before dropping duplicated data: {df.shape}")
df = df.drop_duplicates()
print(f"Total number of rows without duplicated data: {df.shape}")

Total number of rows before dropping duplicated data: (119390, 29)
Total number of rows without duplicated data: (86129, 29)

In [36]:
zero_guest = (
    (df['adults'] == 0) & 
    (df['children'] == 0) & 
    (df['babies'] == 0)
)
zero_night = (
    (df['stays_in_weekend_nights'] == 0) & 
    (df['stays_in_weekdays_nights'] == 0)
)

df_1 = df.loc[~zero_guest].copy()
df_cleaned = df_1.loc[~zero_night].reset_index(drop=True).copy()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85378 entries, 0 to 85377
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           85378 non-null  object
 1   is_canceled                     85378 non-null  int64
 2   lead_time                       85378 non-null  int64
 3   arrival_date_year               85378 non-null  int64
 4   arrival_date_month              85378 non-null  object
 5   arrival_date_week_number        85378 non-null  int64
 6   arrival_date_day_of_month       85378 non-null  int64
 7   stays_in_weekend_nights         85378 non-null  int64
 8   stays_in_weekdays_nights        85378 non-null  int64
 9   adults                          85378 non-null  int64
 10  children                        85378 non-null  int32
 11  babies                          85378 non-null  int64
 12  meal                            85378 non-null  object
 13  city                            85378 non-null  object
 14  market_segment                  85378 non-null  object
 15  distribution_channel            85378 non-null  object
 16  is_repeated_guest               85378 non-null  int64
 17  previous_cancellations          85378 non-null  int64
 18  previous_bookings_not_canceled  85378 non-null  int64
 19  booking_changes                 85378 non-null  int64
 20  deposit_type                    85378 non-null  object
 21  agent                           85378 non-null  int32
 22  company                         85378 non-null  int32
 23  days_in_waiting_list            85378 non-null  int64
 24  customer_type                   85378 non-null  object
 25  adr                             85378 non-null  float64
 26  required_car_parking_spaces     85378 non-null  int64
 27  total_of_special_requests       85378 non-null  int64
 28  reservation_status              85378 non-null  object
dtypes: float64(1), int32(3), int64(16), object(9)
memory usage: 17.9+ MB

In [37]:
df_cleaned.to_csv("cleaned_hotel_bookings_data.csv", index=False)
print("file has been saved")

file has been saved